/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root {
    --white: #ffffff;
    --soft-gray: #f4f5f7;
    --medium-gray: #585656;
    --gray: #525252;
    --blue: #48a0dc;

    --font: 'Poppins', sans-serif;
    --title: bold 2rem/140% var(--font);
    --subtitle: 600 1rem/125% var(--font);
    --text: normal 1rem/140% var(--font);
}

/* container */
.container {
    padding-block: 4rem;
    padding-inline: 6rem;

    background-color: var(--white);
    min-height: 100vh;
}


/* fonts */
h1 {
    font: var(--title);
    color: var(--blue);
}

h2 {
    font: var(--title);
    color: var(--blue);
}

h3 {
    font: var(--subtitle);
    color: var(--white);
}

p{
    font: var(--text);
    color: var(--white);
}

a {
    font: var(--subtitle);
    text-decoration: none;
    color: var(--white);
}

a:hover {
    opacity: 80%;
}

small {
    font: var(--text);
    color: var(--gray);
}

/* logo */
#logo {
    height: 30px;
    width: auto;
    object-fit: contain;
}

